@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Force dark mode for the entire application */
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root {
  height: 100%;
}